# Environment variable overrides for local development
FLASK_APP=autoapp.py
FLASK_DEBUG=1
FLASK_ENV=development
DATABASE_URL=sqlite:///temp.sqlite
GUNICORN_WORKERS=1
LOG_LEVEL=debug
SECRET_KEY=not-so-secret
# In production, set to a higher number, like 31556926
SEND_FILE_MAX_AGE_DEFAULT=0

# Host paths used by docker-compose bind mounts
VIDA_DB_HOST_PATH=C:/VIDA/db
VIDA_XSL_HOST_PATH=C:/VIDA/jboss/standalone/deployments/VidaEar.ear/VidaWeb.war/WEB-INF/classes

# Path to mount the xsl folder to in the docker container
VIDA_XSL_PATH=/xsl

VIDA_DB_USER= # TODO
VIDA_DB_PASS= # TODO
