{% extends "layout.html" %} {% block content %}
<div class="container-fluid d-flex flex-nowrap overflow-none px-0">
    <div
        class="d-flex flex-column flex-shrink-0 p-3 vh-100 overflow-y-auto col-sm-4 col-md-3 col-lg-3"
    >
        <ul class="list-unstyled ps-0">
            <!-- ko foreach: { data: docsByQual, as: 'el' } -->
            <li class="mb-1" role="presentation">
                <button
                    class="btn btn-toggle d-inline-flex text-start rounded border-0"
                    data-bs-toggle="collapse"
                    aria-expanded="false"
                    data-bind="text: `${el.qual.title} (${el.docs.length})`, attr: { 'data-bs-target': `#qual-${el.qual.id}-collapse` }"
                ></button>
                <div
                    class="collapse"
                    data-bind="attr: { id: `qual-${el.qual.id}-collapse` }"
                >
                    <ul
                        class="btn-toggle-nav list-unstyled fw-normal pb-1 small"
                        data-bind="foreach: { data: el.docs, as: 'doc' }"
                    >
                        <li>
                            <a
                                class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                                data-bind="text: doc.title, attr: { 'href': `/document/${doc.chronicleId}/` }, click: $root.onDocLinkClick"
                            ></a>
                        </li>
                    </ul>
                </div>
            </li>
            <!-- /ko -->
        </ul>
    </div>
    <div
        class="d-flex flex-column w-100 vh-100 overflow-y-auto"
        id="docContent"
    ></div>
</div>
{% endblock %} {% block js%}
<script type="text/javascript">
    class DocumentsViewModel {
        constructor() {
            var self = this;

            self.selectedProfile = ko.observable(
                sessionStorage.getItem("selectedProfile")
            );
            self.selectedProfile.subscribe((v) => {
                sessionStorage.setItem("selectedProfile", v);
                self.refreshDocs();
            });

            self.docsByQual = ko.observableArray();

            self.onDocLinkClick = function (doc, e) {
                if (e.ctrlKey || e.which == 2 || e.button == 4)
                    window.open($(e.target).attr("href"), "_blank").focus();
                else {
                    $.ajax({
                        url: `/Vida/document/${doc.chronicleId}/`,
                        method: "GET",
                        success: (resp) => {
                            $("#docContent").html(resp);
                        },
                    });
                }
            };

            self.refreshDocs = function () {
                $.ajax({
                    url: `/Vida/docsByQual/${self.selectedProfile()}?qualCols=id,title&docCols=id,chronicleId,fkQualifier,title`,
                    method: "get",
                    success: (resp) => {
                        self.docsByQual(resp);
                    },
                });
            };
            self.refreshDocs();
        }
    }
    var model = new DocumentsViewModel();
    ko.applyBindings(model);

    function openLinkDoc(
        docId,
        isCallout,
        targetElement,
        sourceElement,
        isButton
    ) {
        var url;
        if (docId !== null && docId.length != 0) {
            url = `/Vida/document/${docId}`;
        } else if (sourceElement !== null && sourceElement.length != 0) {
            url = `/Vida/doclink/${sourceElement}`;
        }
        $.ajax({
            url: url,
            method: "GET",
            success: (resp) => {
                $("#docContent").html(resp);
            },
        });
    }

    function openImage(imageURL, imgId) {
        window.open(
            `${imageURL}?AsPage=true`,
            "image",
            "popup=true,width=400,height=400"
        );
    }

    function imgSize(image) {}
</script>
{% endblock %}
