{% extends "layout.html" %} {% block content %}
<div class="d-flex flex-column flex-fill container-fluid overflow-none px-0">
    <div class="accordion" id="documentAccordion">
        <!-- ko foreach: { data: docsByQual, as: 'el' } -->
        <div class="accordion-item mb-1">
            <h2 class="accordion-header" id="headingOne">
                <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bind="text: `${el.qual.title} (${el.docs.length})`, attr: { 'data-bs-target': `#qual-${el.qual.id}-collapse` }"
                ></button>
            </h2>
            <div
                class="accordion-collapse collapse"
                data-bs-parent="#documentAccordion"
                data-bind="attr: {'id': `qual-${el.qual.id}-collapse` }"
            >
                <div class="accordion-body">
                    <ul
                        class="btn-toggle-nav list-unstyled fw-normal pb-1 small"
                        data-bind="foreach: { data: el.docs, as: 'doc' }"
                    >
                        <li>
                            <a
                                class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                                data-bind="text: doc.title, attr: { 'href': `/document/${doc.chronicleId}/` }"
                            ></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>
</div>
{% endblock %} {% block js%}
<script type="text/javascript">
    class DocumentsViewModel {
        constructor() {
            var self = this;

            self.selectedProfile = ko.observable(
                sessionStorage.getItem("selectedProfile")
            );
            self.selectedProfile.subscribe((v) => {
                sessionStorage.setItem("selectedProfile", v);
                self.refreshDocs();
            });

            self.docsByQual = ko.observableArray();

            self.refreshDocs = function () {
                $.ajax({
                    url: `/Vida/docsByQual/${self.selectedProfile()}?qualCols=id,title&docCols=id,chronicleId,fkQualifier,title`,
                    method: "get",
                    success: (resp) => {
                        self.docsByQual(resp);
                    },
                });
            };
            self.refreshDocs();
        }
    }
    var model = new DocumentsViewModel();
    ko.applyBindings(model);

    function openLinkDoc(
        docId,
        isCallout,
        targetElement,
        sourceElement,
        isButton
    ) {
        var url;
        if (docId !== null && docId.length != 0) {
            url = `/Vida/document/${docId}`;
        } else if (sourceElement !== null && sourceElement.length != 0) {
            url = `/Vida/doclink/${sourceElement}`;
        }
        $.ajax({
            url: url,
            method: "GET",
            success: (resp) => {
                $("#docContent").html(resp);
            },
        });
    }

    function openImage(imageURL, imgId) {
        window.open(
            `${imageURL}?AsPage=true`,
            "image",
            "popup=true,width=400,height=400"
        );
    }

    function imgSize(image) {}
</script>
{% endblock %}
