{% extends "layout.html" %} {% block content %}
<div class="container-fluid d-flex flex-nowrap">
    <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
        <b class="d-flex align-items-center mb-3 mb-md-0 me-md-auto">
            Found {{ documents | length }} Document{{ "" if (documents | length) ==
            1 else "s" }}
        </b>
        <hr>
        <ul class="list-unstyled ps-0">
            {% for qual in qualifiers %}
            {% set docs = documents | byattr("fkQualifier", qual.id) | list %}
            {% if (docs | length) > 0 %}
            <li class="mb-1" role="presentation">
                <button
                    class="btn btn-toggle d-inline-flex text-start rounded border-0"
                    {% if loop.index0 == 0 %}aria-selected="true"{% endif %}
                    data-bs-toggle="collapse"
                    data-bs-target="#qual-{{ qual.id }}-collapse"
                    aria-expanded="false"
                >
                    {{ qual.title }}
                </button>
                <div class="collapse" id="qual-{{ qual.id }}-collapse" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        {% for doc in docs %}
                        <li><a href="/document/{{ doc.chronicleId }}/" class="link-body-emphasis d-inline-flex text-decoration-none rounded">{{ doc.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="d-flex flex-column">

    </div>
</div>
{% endblock %}
