{% extends "layout.html" %} {% block content %}
<div class="container-fluid d-flex flex-fill flex-nowrap overflow-none px-0">
    <div id="tocSidebar" class="d-flex flex border-end">
        <script type="text/html" id="link">
            <li class="mb-1" role="presentation">
                <button
                    class="btn btn-link d-inline-flex text-start rounded border-0"
                    type="button"
                    data-bind="text: $root.linkTitle($data), click: $root.selectComponent"
                ></button>
            </li>
        </script>
        <script type="text/html" id="node">
            <li class="mb-1" role="presentation">
                <button
                    class="btn btn-toc-node d-inline-flex text-start rounded border-0"
                    type="button"
                    aria-expanded="false"
                    data-bs-toggle="collapse"
                    data-bind="text: $root.nodeTitle($data), attr: { 'data-bs-target': `#toc-node-${$data.id()}-collapse` }, click: $root.loadChildren"
                ></button>
                <div
                    class="ps-3 collapse"
                    data-bind="attr: { id: `toc-node-${$data.id()}-collapse` }"
                >
                    <ul
                        class="btn-toggle-nav list-unstyled fw-normal pb-1 small"
                        data-bind="template: { name: $root.nodeTemplate, foreach: $data.children }"
                    ></ul>
                </div>
            </li>
        </script>
        <div
            class="h-100 overflow-y-auto collpase collapse-horizontal collapse show"
            id="tocSidebarContent"
        >
            <ul
                class="list-unstyled m-0 p-1"
                data-bind="template: { name: 'node', foreach: partsTree }"
            ></ul>
        </div>
        <button
            class="btn btn-sm btn-toc-toggle"
            type="button"
            aria-expanded="true"
            data-bs-toggle="collapse"
            data-bs-target="#tocSidebarContent"
        ></button>
    </div>
    <div
        class="d-flex flex-column w-100 h-100 overflow-y-auto"
        id="partContent"
    >
        <table
            class="table table-sm table-striped"
            data-bind="attr: {hidden: selectedCatalogue().length == 0}"
        >
            <thead>
                <tr>
                    <td>Key</td>
                    <td>Part Number</td>
                    <td>Description</td>
                    <td>Quantity</td>
                    <td>Note</td>
                </tr>
            </thead>
            <tbody>
                <!-- ko foreach: selectedCatalogue -->
                <tr>
                    <td data-bind="text: key"></td>
                    <td data-bind="text: number"></td>
                    <td data-bind="text: description"></td>
                    <td data-bind="text: quantity"></td>
                    <td data-bind="text: note"></td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
    </div>
</div>
{% endblock %} {% block js%}
<script type="text/javascript">
    function imgSize() {}

    class PartsViewModel {
        constructor() {
            var self = this;

            self.selectedProfile = ko.observable(
                sessionStorage.getItem("selectedProfile")
            );
            self.selectedProfile.subscribe((v) => {
                sessionStorage.setItem("selectedProfile", v);
                self.refreshParts();
            });

            self.partsTree = ko.observableArray([]);
            self.selectedCatalogue = ko.observableArray([]);

            self.nodeTemplate = (e) => (e.type() == 2 ? "node" : "link");
            self.nodeTitle = (e) =>
                `${e.id().toString().padEnd(4, "\u00a0")} ${e.description()}`;
            self.linkTitle = (e) =>
                e.note() ? `${e.description()} - ${e.note()}` : e.description();

            self.refreshParts = function () {
                $.ajax({
                    url: `/Vida/epc/topLevelToc/`,
                    data: { selectedProfile: self.selectedProfile() },
                    success: (resp) => {
                        var tree = [];
                        for (let e of resp) {
                            let obj = ko.mapping.fromJS(e);
                            obj.children = ko.observableArray([]);
                            tree.push(obj);
                        }
                        self.partsTree(tree);
                    },
                });
            };

            self.loadChildren = function (e) {
                if (e.children.length) return;
                $.ajax({
                    url: "/Vida/epc/getTocElements",
                    data: {
                        selectedProfile: self.selectedProfile(),
                        parentId: e.id(),
                        assemblyLevel: e.assemblyLevel(),
                    },
                    success: (resp) => {
                        let children = [];
                        for (let e of resp) {
                            let obj = ko.mapping.fromJS(e);
                            obj.children = ko.observableArray([]);
                            children.push(obj);
                        }
                        e.children(children);
                    },
                });
            };

            self.selectComponent = function (e) {
                self.selectedCatalogue([]);
                $.ajax({
                    url: "/Vida/epc/getParts",
                    data: { parentId: e.id() },
                    success: (resp) => self.selectedCatalogue(resp),
                });
            };

            // Util
            self.pushAll = (a1, a2) =>
                a2.forEach((e) => a1.push(ko.observable(e)));

            self.refreshParts();
        }
    }
    ko.applyBindings(new PartsViewModel());
</script>
{% endblock %}
