{% extends "layout.html" %} {% block content %}
<div class="container-fluid d-flex flex-nowrap overflow-none px-0">
    <div
        class="d-flex flex-column flex-shrink-0 p-3 vh-100 overflow-y-auto col-sm-4 col-md-3 col-lg-3"
    >
        <script type="text/html" id="link">
            <li class="mb-1" role="presentation">
                <a
                    class="d-inline-flex text-start rounded border-0"
                    data-bind="text: $root.linkTitle($data), click: $root.selectComponent"
                ></a>
            </li>
        </script>
        <script type="text/html" id="node">
            <li class="mb-1" role="presentation">
                <button
                    class="btn btn-toggle d-inline-flex text-start rounded border-0"
                    data-bs-toggle="collapse"
                    aria-expanded="false"
                    data-bind="text: $root.nodeTitle($data), attr: { 'data-bs-target': `#part-${$data.id()}-collapse` }, click: $root.loadChildren"
                ></button>
                <div
                    class="collapse"
                    data-bind="attr: { id: `part-${$data.id()}-collapse` }"
                >
                    <ul
                        class="btn-toggle-nav list-unstyled fw-normal pb-1 small"
                        data-bind="template: { name: $root.nodeTemplate, foreach: $data.children }"
                    ></ul>
                </div>
            </li>
        </script>
        <ul
            class="list-unstyled ps-0"
            data-bind="template: { name: 'node', foreach: partsTree }"
        ></ul>
    </div>
    <div
        class="d-flex flex-column w-100 vh-100 overflow-y-auto"
        id="partContent"
    ></div>
</div>
{% endblock %} {% block js%}
<script type="text/javascript">
    function imgSize() {}

    class PartsViewModel {
        constructor() {
            var self = this;

            self.selectedProfile = ko.observable(
                sessionStorage.getItem("selectedProfile")
            );
            self.selectedProfile.subscribe((v) => {
                sessionStorage.setItem("selectedProfile", v);
                self.refreshParts();
            });

            self.partsTree = ko.observableArray();

            self.nodeTemplate = (e) => (e.type() == 2 ? "node" : "link");
            self.nodeTitle = (e) =>
                `${e.id().toString().padEnd(4, "\u00a0")} ${e.description()}`;
            self.linkTitle = (e) => e.description();

            self.refreshParts = function () {
                $.ajax({
                    url: `/Vida/epc/topLevelToc/`,
                    data: {
                        selectedProfile: self.selectedProfile(),
                    },
                    success: (resp) => {
                        var tree = [];
                        for (let e of resp) {
                            let obj = ko.mapping.fromJS(e);
                            obj.children = ko.observableArray([]);
                            tree.push(obj);
                        }
                        self.partsTree(tree);
                    },
                });
            };

            self.loadChildren = function (e) {
                if (e.children.length) return;
                $.ajax({
                    url: "/Vida/epc/getTocElements",
                    data: {
                        selectedProfile: self.selectedProfile(),
                        parentId: e.id(),
                        assemblyLevel: e.assemblyLevel(),
                    },
                    success: (resp) => {
                        let children = [];
                        for (let e of resp) {
                            let obj = ko.mapping.fromJS(e);
                            obj.children = ko.observableArray([]);
                            children.push(obj);
                        }
                        e.children(children);
                    },
                });
            };

            self.selectComponent = function (e) {
                // TODO: Get component info and show CGM file...
                console.log(e);
            };

            // Util
            self.pushAll = (a1, a2) =>
                a2.forEach((e) => a1.push(ko.observable(e)));

            self.refreshParts();
        }
    }
    ko.applyBindings(new PartsViewModel());
</script>
{% endblock %}
