{% extends "layout.html" %} {% block content %}
<div class="container-fluid d-flex flex-nowrap overflow-none px-0">
    <div
        class="d-flex flex-column flex-shrink-0 p-3 vh-100 overflow-y-auto col-sm-4 col-md-3 col-lg-3"
    >
        <ul class="list-unstyled ps-0">
            <li
                class="mb-1"
                role="presentation"
                data-bind="foreach: { data: partsForProfile, as: 'el' }"
            >
                <button
                    class="btn btn-toggle d-inline-flex text-start rounded border-0"
                    data-bs-toggle="collapse"
                    aria-expanded="false"
                    data-bind="text: `${el.title} (${el.number})`, attr: { 'data-bs-target': `#part-${el.number}-collapse` }"
                ></button>
                <div
                    class="collapse"
                    data-bind="attr: { id: `part-${el.number}-collapse` }"
                >
                    <ul
                        class="btn-toggle-nav list-unstyled fw-normal pb-1 small"
                    >
                        <li data-bind="text: el.title"></li>
                        <li data-bind="text: el.number"></li>
                        <li>Profiles:</li>
                        <!-- ko foreach: { data: el.profiles, as: 'prof' } -->
                        <li data-bind="text: prof"></li>
                        <!-- /ko -->
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div
        class="d-flex flex-column w-100 vh-100 overflow-y-auto"
        id="partContent"
    ></div>
</div>
{% endblock %} {% block js%}
<script type="text/javascript">

    function imgSize() { }

    class PartsViewModel {
        constructor () {
            var self = this;

            self.selectedProfile = ko.observable(sessionStorage.getItem("selectedProfile"));
            self.selectedProfile.subscribe((v) => {
                sessionStorage.setItem("selectedProfile", v);
                self.refreshParts();
            });

            self.partsForProfile = ko.observableArray();

            self.onPartLinkClick = function (doc, e) {
                {# if (e.ctrlKey || e.which == 2 || e.button == 4)
                    window.open($(e.target).attr("href"), '_blank').focus();
                else {
                    $.ajax({
                        url: `/Vida/partHtml/${doc.chronicleId}/`,
                        method: 'GET',
                        success: resp => {
                            $("#partContent").html(resp)
                        }
                    })
                } #}
            };

            self.refreshParts = function () {
                $.ajax({
                    url: `/Vida/partsForProfile/${self.selectedProfile()}?partCols=id,chronicleId,fkQualifier,title`,
                    method: "get",
                    success: resp => {
                        console.log(resp);
                        self.partsForProfile(resp);
                    }
                });
            }
            self.refreshParts();
        }
    }
    ko.applyBindings(new PartsViewModel());
    // $('a[id^="doc-"]').on("click", function (e) { });
</script>
{% endblock %}
