{% extends "layout.html" %} {% block content %}
<div class="container">
    <div class="row g-5 py-2">
        <div class="col-md-5 col-lg-4 order-md-last">
            <img data-bind="attr: {src: imagePath}" />
        </div>
        <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Vehicle Profile</h4>
            <form onsubmit="return false;">
                <div class="row g-3">
                    <div class="col-12">
                        <label for="partnerGroup" class="form-label"
                            >Partner Group</label
                        >
                        <select
                            class="form-control"
                            id="partnerGroup"
                            data-bind="value: partnerGroup, options: partnerGroupOptions, optionsValue: 'id', optionsText: 'text'"
                        ></select>
                    </div>
                    <hr class="mb-3" />
                    <div class="col-12 mb-3">
                        <label for="vin" class="form-label">VIN</label>
                        <div class="input-group">
                            <input
                                type="text"
                                class="form-control"
                                id="vin"
                                data-bind="value: vinNumber"
                            />
                            <button
                                class="btn btn-primary"
                                id="submitVin"
                                data-bind="click: loadProfileFromVin"
                            >
                                Submit
                            </button>
                        </div>
                    </div>
                    <hr class="mb-3" />
                    <div class="col-sm-6">
                        <label for="vehicleModel" class="form-label"
                            >Model</label
                        >
                        <input
                            id="vehicleModel"
                            type="text"
                            class="form-control"
                            data-bind="jqAuto: {value: vehicleModel, source: vehicleModelOptions, valueProp: 'id', labelProp: 'text', options: {minLength: 0}}"
                        />
                    </div>
                    <div class="col-sm-6">
                        <label for="modelYear" class="form-label"
                            >Model Year</label
                        >
                        <input
                            class="form-control"
                            id="modelYear"
                            data-bind="jqAuto: {value: modelYear, source: modelYearOptions, valueProp: 'id', labelProp: 'text', options: {minLength: 0}}"
                        />
                    </div>
                    <div class="col-sm-6">
                        <label for="engine" class="form-label">Engine</label>
                        <input
                            class="form-control"
                            id="engine"
                            data-bind="jqAuto: {value: engine, source: engineOptions, valueProp: 'id', labelProp: 'text', options: {minLength: 0}}"
                        />
                    </div>
                    <div class="col-sm-6">
                        <label for="transmission" class="form-label"
                            >Transmission</label
                        >
                        <input
                            class="form-control"
                            id="transmission"
                            data-bind="jqAuto: {value: transmission, source: transmissionOptions, valueProp: 'id', labelProp: 'text', options: {minLength: 0}}"
                        />
                    </div>
                    <div class="col-sm-4">
                        <label for="steering" class="form-label"
                            >Steering</label
                        >
                        <select
                            class="form-control"
                            id="steering"
                            data-bind="value: steering, options: steeringOptions, optionsValue: 'id', optionsText: 'text'"
                        ></select>
                    </div>
                    <div class="col-sm-4">
                        <label for="bodyStyle" class="form-label"
                            >Body Style</label
                        >
                        <select
                            class="form-control"
                            id="bodyStyle"
                            data-bind="value: bodyStyle, options: bodyStyleOptions, optionsValue: 'id', optionsText: 'text'"
                        ></select>
                    </div>
                    <div class="col-sm-4">
                        <label for="specialVehicle" class="form-label"
                            >Special Vehicle</label
                        >
                        <select
                            class="form-control"
                            id="specialVehicle"
                            data-bind="value: specialVehicle, options: specialVehicleOptions, optionsValue: 'id', optionsText: 'text'"
                        ></select>
                    </div>
                    <div class="col-12 col-sm-4 offset-sm-8">
                        <button
                            class="btn btn-primary w-100"
                            data-bind="click: submitProfile"
                        >
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %} {% block js %}
<script
    type="text/javascript"
    src="{{ url_for('static', filename='js/profile.js') }}"
></script>
{% endblock %}
