{% extends "layout.html" %} {% block content %}
<div class="d-flex flex-column flex-fill container-fluid overflow-none px-0">
    <div class="d-flex p-2">
        <div class="h3 pe-3">Resource:</div>
        <div class="flex-fill">
            <select
                class="form-control"
                data-bind="value: selectedResourcePath, options: resources, optionsText: 'filename', optionsValue: 'url'"
            ></select>
        </div>
    </div>
    <div class="w-100 h-100 p-2">
        <iframe
            class="w-100 h-100 m-0"
            data-bind="attr: {src: selectedResourcePath}"
        ></iframe>
    </div>
</div>
{% endblock %} {% block js%}
<script
    type="text/javascript"
    src="{{ url_for('static', filename='js/resources.js') }}"
></script>
{% endblock %}
