<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="h-100" data-bs-theme="auto">
    <!--<![endif]-->
    <head>
        <script
            type="text/javascript"
            src="{{url_for('static', filename='js/vendor/color-modes.js') }}"
        ></script>

        <meta charset="utf-8" />
        <!-- Mobile viewport optimized: h5bp.com/viewport -->
        <meta name="viewport" content="width=device-width" />
        <meta
            name="description"
            content="{% block meta_description %}{% endblock %}"
        />
        <meta name="author" content="{% block meta_author %}{% endblock %}" />
        <title>{% block page_title %} VIDA-Flask {% endblock %}</title>

        <link
            rel="shortcut icon"
            href="{{url_for('static', filename='img/favicon.ico') }}"
        />
        <link
            rel="apple-touch-icon"
            href="{{url_for('static', filename='img/favicons/apple-touch-icon.png') }}"
            sizes="180x180"
        />
        <link
            rel="icon"
            href="{{url_for('static', filename='img/favicons/favicon-32x32.png') }}"
            sizes="32x32"
            type="image/png"
        />
        <link
            rel="icon"
            href="{{url_for('static', filename='img/favicons/favicon-16x16.png') }}"
            sizes="16x16"
            type="image/png"
        />
        <link
            rel="manifest"
            href="{{url_for('static', filename='img/favicons/manifest.json') }}"
        />
        <link
            rel="mask-icon"
            href="{{url_for('static', filename='img/favicons/safari-pinned-tab.svg') }}"
            color="#7952b3"
        />
        <link
            rel="icon"
            href="{{url_for('static', filename='img/favicons/favicon.ico') }}"
        />
        <meta name="theme-color" content="#7952b3" />

        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='css/vendor/bootstrap.min.css') }}"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='css/vendor/jquery-ui.min.css') }}"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='css/vendor/ag-theme-alpine.min.css') }}"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='css/style.css') }}"
        />
        {% block css %}{% endblock %}
    </head>
    <body class="{% block body_class %}d-flex flex-column vh-100{% endblock %}">
        {% include "color_mode.html" %} {% block body %} {% include "nav.html"
        %}
        <main role="main" class="d-flex flex-fill overflow-y-auto">
            {% with messages = get_flashed_messages(with_categories=true) %} {%
            if messages %}
            <div class="row">
                <div class="col-md-12">
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        <a
                            class="close"
                            title="Close"
                            href="#"
                            data-bs-dismiss="alert"
                            >&times;</a
                        >
                        {{ message }}
                    </div>
                    <!-- end .alert -->
                    {% endfor %}
                </div>
                <!-- end col-md -->
            </div>
            <!-- end row -->
            {% endif %} {% endwith %} {% block content %}{% endblock %}
        </main>

        {% include "footer.html" %}

        <!-- JavaScript at the bottom for fast page loading -->
        <script src="{{ url_for('static', filename='js/vendor/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/jquery-ui.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/knockout-latest.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/knockout.mapping-latest.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/knockout-jqAutocomplete.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/ag-grid-community.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        {% block js %}{% endblock %}
        <!-- end scripts -->
        {% endblock %}
    </body>
</html>
