{% macro nav_link(path, text) -%} {%- set active = (path|length == 1 and
request.path == path) or (path|length > 1 and request.path.startswith(path)) %}
<a
    class="nav-link {% if active %}link-secondary{% else %}link-body-emphasis{% endif %}"
    href="{{ path }}"
    >{{ text }}</a
>
{%- endmacro %}
<header class="p-2 border-bottom">
    <div class="container-fluid">
        <div
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
            <a
                href="/"
                class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none"
            >
                <a class="navbar-brand" href="#">VIDA-Flask</a>
            </a>
            <ul
                class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
            >
                <li>{{ nav_link("/", "Home") }}</li>
                <li>{{ nav_link("/profile/", "Profile") }}</li>
                <li>{{ nav_link("/parts/", "Parts") }}</li>
                <li>{{ nav_link("/documents/", "Documents") }}</li>
                <li>{{ nav_link("/resources/", "Resources") }}</li>
            </ul>
            <div class="dropdown text-end">
                <a
                    href="#"
                    class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    <img
                        height="32"
                        class="rounded"
                        data-bind="attr: {src: `/Vida/ProfileImg/${selectedProfile()}`}"
                    />
                </a>
                <div class="dropdown-menu">
                    <table class="table table-sm table-borderless">
                        <tbody>
                            <tr
                                class="text-nowrap"
                                data-bind="attr: {hidden: !profileInfo().PartnerGroup }"
                            >
                                <td class="fw-bold">Partner Group:</td>
                                <td
                                    data-bind="text: profileInfo().PartnerGroup"
                                ></td>
                            </tr>
                            <tr
                                class="text-nowrap"
                                data-bind="attr: {hidden: !profileInfo().VehicleModel }"
                            >
                                <td class="fw-bold">Vehicle Model:</td>
                                <td
                                    data-bind="text: profileInfo().VehicleModel"
                                ></td>
                            </tr>
                            <tr
                                class="text-nowrap"
                                data-bind="attr: {hidden: !profileInfo().ModelYear }"
                            >
                                <td class="fw-bold">Model Year:</td>
                                <td
                                    data-bind="text: profileInfo().ModelYear"
                                ></td>
                            </tr>
                            <tr
                                class="text-nowrap"
                                data-bind="attr: {hidden: !profileInfo().Engine }"
                            >
                                <td class="fw-bold">Engine:</td>
                                <td data-bind="text: profileInfo().Engine"></td>
                            </tr>
                            <tr
                                class="text-nowrap"
                                data-bind="attr: {hidden: !profileInfo().Transmission }"
                            >
                                <td class="fw-bold">Transmission:</td>
                                <td
                                    data-bind="text: profileInfo().Transmission"
                                ></td>
                            </tr>
                            <tr
                                class="text-nowrap"
                                data-bind="attr: {hidden: !profileInfo().Steering }"
                            >
                                <td class="fw-bold">Steering:</td>
                                <td
                                    data-bind="text: profileInfo().Steering"
                                ></td>
                            </tr>
                            <tr
                                class="text-nowrap"
                                data-bind="attr: {hidden: !profileInfo().BodyStyle }"
                            >
                                <td class="fw-bold">Body Style:</td>
                                <td
                                    data-bind="text: profileInfo().BodyStyle"
                                ></td>
                            </tr>
                            <tr
                                class="text-nowrap"
                                data-bind="attr: {hidden: !profileInfo().SpecialVehicle }"
                            >
                                <td class="fw-bold">Special Vehicle:</td>
                                <td
                                    data-bind="text: profileInfo().SpecialVehicle"
                                ></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</header>
