{% macro nav_link(path, text) -%} {%- set active = (path|length == 1 and
request.path == path) or (path|length > 1 and request.path.startswith(path)) %}
<a
    class="nav-link {% if active %}link-secondary{% else %}link-body-emphasis{% endif %}"
    href="{{ path }}"
    >{{ text }}</a
>
{%- endmacro %} {% macro info_row(obj, title) %}
<tr class="text-nowrap" data-bind="attr: {hidden: !profileInfo().{{ obj }} }">
    <td class="fw-bold">{{ title }}:</td>
    <td data-bind="text: profileInfo().{{ obj }}"></td>
</tr>
{%- endmacro %}
<header class="p-2 border-bottom">
    <div class="container-fluid">
        <div
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
            <a
                href="/"
                class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none"
            >
                <a class="navbar-brand" href="#">
                    <i class="bi bi-gender-male me-1"></i> OpenVIDA
                </a>
            </a>
            <ul
                class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
            >
                <li>{{ nav_link("/", "Home") }}</li>
                <li>{{ nav_link("/profile/", "Profile") }}</li>
                <li>{{ nav_link("/parts/", "Parts") }}</li>
                <li>{{ nav_link("/documents/", "Documents") }}</li>
                <li>{{ nav_link("/resources/", "Resources") }}</li>
            </ul>
            <div class="dropdown text-end ms-2">
                <a
                    href="#"
                    class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    <img
                        height="42"
                        class="rounded"
                        data-bind="attr: {src: `/Vida/ProfileImg/${selectedProfile()}`}"
                    />
                </a>
                <div class="dropdown-menu">
                    <table class="table table-sm table-borderless">
                        <tbody>
                            {{ info_row("PartnerGroup", "Partner Group") }} {{
                            info_row("VehicleModel", "Vehicle Model") }} {{
                            info_row("ModelYear", "Model Year") }} {{
                            info_row("Engine", "Engine") }} {{
                            info_row("Steering", "Steering") }} {{
                            info_row("BodyStyle", "Body Style") }} {{
                            info_row("SpecialVehicle", "Special Vehicle") }}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="ms-2">{% include "color_mode.html" %}</div>
            <div class="ms-2 ps-2">
                <a
                    class="p-3 ps-0 text-body-secondary"
                    href="https://github.com/kForth/OpenVIDA"
                    target="_blank"
                    ><i class="bi bi-github"></i
                ></a>
            </div>
            <div class="ms-2">
                <a
                    class="p-3 ps-0 text-body-secondary"
                    href="https://ko-fi.com/kestin"
                    target="_blank"
                    ><i class="bi bi-cup-hot"></i
                ></a>
            </div>
        </div>
    </div>
</header>
