/* Bootstrap Icons */
.bi {
    vertical-align: -0.125em;
    fill: currentColor;
}

/* ToC Sidebar */
#tocSidebar {
    max-width: 80%
}

.btn-toc-toggle {
    padding: 0.1rem;
    font-weight: 600;
    color: var(--bs-emphasis-color);
    background-color: transparent;
}
.btn-toc-toggle:hover,
.btn-toc-toggle:focus {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
    background-color: var(--bs-tertiary-bg);
}
.btn-toc-toggle::before {
    margin: .25rem;
    width: 1em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M11 2l-6 6 6 6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: 50% 50%;
}
[data-bs-theme="dark"] .btn-toc-toggle::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M11 2l-6 6 6 6'/%3e%3c/svg%3e");
}
.btn-toc-toggle[aria-expanded="false"] {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
}
.btn-toc-toggle[aria-expanded="false"]::before {
    transform: rotate(180deg);
}

.btn-toc-node {
    padding: .25rem .5rem;
    font-weight: 600;
    color: var(--bs-emphasis-color);
    background-color: transparent;
}
.btn-toc-node:hover,
.btn-toc-node:focus {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
    background-color: var(--bs-tertiary-bg);
}
.btn-toc-node::before {
    margin: .25rem;
    width: 1em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: 50% .5em;
}
[data-bs-theme="dark"] .btn-toc-node::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toc-node[aria-expanded="true"] {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
}
.btn-toc-node[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toc-node-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
}
.btn-toc-node-nav a:hover,
.btn-toc-node-nav a:focus {
    background-color: var(--bs-tertiary-bg);
}

/* jQuery-ui */
ul.ui-autocomplete {
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: var(--bs-border-radius);
}
[data-bs-theme="dark"] ul.ui-autocomplete {
    background-color: var(--bs-tertiary-bg);
    color: rgba(var(--bs-emphasis-color-rgb), .85);
}

/* Color Mode */
.btn-bd-primary {
    outline: 0;
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;

    & .dropdown-menu .active .bi {
        display: block !important;
    }
}
