{% extends "layout.html" %}
{% block page_title %} - {{ part["description"]  }} #{{ part["itemNumber"] }}{%endblock%}
{% block content %}
<div class="container-fluid row">
    <div class="row">
        <h2>{{ part["description"]  }}<small> - {{ part["itemNumber"] }}</small></h2>
    </div>
    <div class="row">
        <table class="table table-sm table-striped caption-top m-2">
            <caption class="h4 mb-0 pb-0">Usages:</caption>
            <thead>
                <tr>
                    <td>Vehicle</td>
                    <td>Title</td>
                    <td>Note</td>
                    <td>Qty</td>
                    <td>Path</td>
                </tr>
            </thead>
            <tbody>
                {% for el in applications %}
                <tr>
                    <td>{{ el["profile"] }}</td>
                    <td>{{ el["title"] }}</td>
                    <td>{{ el["note"] }}</td>
                    <td>{{ el["qty"] }}</td>
                    <td>
                        <a href="/parts/{{el['path']}}">{{ el['location'] }}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %} {% block js%}
<script
    type="text/javascript"
    src="{{ url_for('static', filename='js/part.js') }}"
></script>
{% endblock %}
